body {
    font-family: sans-serif;
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.world-clock-grid-container {
    display: grid;
    grid-template-columns: auto repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: min-content;
    padding: 10px;
    /* Reduced padding around the grid */
    gap: 8px;
    /* Reduced gap between clocks */
    width: 100%;
    max-width: 900px;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    /* Further reduced padding inside clocks */
    background-color: darkgrey;
    border-radius: 5px;
    text-align: center;
    color: lightgrey;
    box-sizing: border-box;
    border: none;
    /* Removed border */
    box-shadow: none;
    /* Ensured box shadow is removed */
}

.grid-item-large {
    grid-column: 1;
    grid-row: 1 / span 3;
    /* Singapore spans 3 rows */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align items to the top */
    align-items: center;
    padding: 10px;
    /* Further reduced padding */
}

.logo-container {
    background-color: white;
    border-radius: 8px;
    padding: 6px;
    /* Further reduced padding */
    margin-bottom: 12px;
    /* Further reduced margin */
    /* margin-top: 10px; Removed top margin */
    display: flex;
    justify-content: center;
    /* Center logo */
    align-items: center;
    width: 60px;
    /* Increased background size */
    height: 60px;
    /* Increased background size */
}

.logo-container img {
    max-width: 120px;
    /* Adjust logo size */
    max-height: 120px;
}

.grid-item-large .hq {
    font-size: 0.9em;
    /* Further reduced font size */
    color: black;
    text-align: center;
    margin-bottom: 2px;
    /* Further reduced margin */
    font-weight: bold;
    /* Made text bold */
}

.grid-item-large .time {
    font-size: 1.8em;
    /* Further reduced font size */
    color: black;
    text-align: center;
    margin-bottom: 2px;
    /* Further reduced margin */
}

.grid-item-large .country {
    font-size: 0.8em;
    /* Further reduced font size */
    color: black;
    text-align: center;
}

.singapore-clock.grid-item-large {
    /*     background-color: #efc94a; */
    background-color: white;
    color: black;
}

.thailand-clock.grid-item,
.cambodia-clock.grid-item,
.indonesia-clock.grid-item {
    background-color: #3a4887;
    color: lightgrey;
}

.india-clock.grid-item {
    background-color: darkgrey;
    color: lightgrey;
}

.country {
    font-size: 0.7em;
    /* Further reduced font size */
    font-weight: bold;
    margin-bottom: 1px;
    /* Further reduced margin */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time {
    font-size: 0.9em;
    /* Further reduced font size */
}

.time-diff {
    font-size: 0.5em;
    /* Further reduced font size */
    color: #ccc;
}